---
import Custompicture from "@components/custompicture.astro";
const { url, src, alt="", title } = Astro.props;
---

<article class="card">
    <a rel="prefetch" href={url}>

        <img src={src} alt={alt} width="334" height="167"/>
        <!-- <Custompicture src={src} alt={alt} /> -->
        <h2>{title}</h2>
    </a>
</article>

