---
import { siteMeta } from "@lib/constants";
import SpeedInsights from '@vercel/speed-insights/astro';
const { siteTitle, siteDesc, siteLocale, siteType, siteIcon, siteImg } = siteMeta;
const {
    pageTitle,
    description = siteDesc,
    pageImg = siteImg,
} = Astro.props;

const title = pageTitle ? `${pageTitle} | ${siteTitle}` : siteTitle;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL(pageImg, Astro.site);
---

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W27LCWQS');</script>
<!-- End Google Tag Manager -->

<!-- Clarity -->
<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "n5oaceiid7");
</script>
<!-- End Clarity -->

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title> 
<meta property="og:title" content={title} />
<meta name="description" content={description} />
<meta property="og:description" content={description} />
<link rel="canonical" href={canonicalURL} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:site_name" content={siteTitle} />
<meta property="og:type" content={siteType} />
<meta property="og:locale" content={siteLocale} />
<meta property="og:image" content={socialImageURL} />
<meta property="twitter:title" content={title}>
<meta property="twitter:description" content={description}>
<meta property="twitter:image" content={socialImageURL} >
<meta name="twitter:card" content="summary_large_image" />
<link rel="icon" href={siteIcon} />
<link rel="apple-touch-icon" href={siteIcon} />
<SpeedInsights />
