---
import Layout from "@layouts/layout.astro";
import Card from "@components/card.astro";

export async function getStaticPaths(): Promise<{ params: { tag: string } }[]> {
  const allPosts = await Astro.glob('../../../content/blog/*.mdx');

  // すべての投稿からタグを抽出し、重複を除去
  const uniqueTags = [...new Set(allPosts.flatMap(post => post.frontmatter.tags || []))];

  // 各タグに対してパスを生成
  return uniqueTags.map(tag => ({
    params: { tag },
    props: { posts: allPosts.filter(post => post.frontmatter.tags?.includes(tag)) }
  }));
}

const { tag } = Astro.params;
const { posts } = Astro.props;

---

<Layout pageTitle={tag} description={`${tag}の一覧`}>
      <h1>{tag}</h1>
      <div class="grid">
      {posts.map((post: any) => (
        <p class="tags_item" key={post.frontmatter.slug}>
          <Card url={`/blog/${post.frontmatter.slug}`} src={post.frontmatter.image} alt={post.frontmatter.alt} title={post.frontmatter.title} />
        </p>
      ))}
      <div>
</Layout>
